*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
inspection-review-manager/src/main/res/raw/sel_engineering_limited_inspection_report_doc_template_stamped.doc

inspection-review-manager/src/main/res/raw/sel_engineering_limited_inspection_report_doc_template.doc

inspection-review-manager/src/main/res/raw/sel_engineering_limited_inspection_report_html_template.html

inspection-review-manager/src/main/res/raw/sel_engineering_limited_inspection_report_html_template_stamped.html
