<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nicco.inspectionReviewManager">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <application
        android:name="com.example.nicco.inspectionReviewManager.Model"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.nicco.inspectionReviewManager.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.nicco.inspectionReviewManager.InspectionReviewActivity"
            android:parentActivityName="com.example.nicco.inspectionReviewManager.MainActivity"
            android:launchMode="singleTask" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nicco.inspectionReviewManager.MainActivity" />
        </activity>
        <activity
            android:name="com.example.nicco.inspectionReviewManager.ProjectActivity"
            android:parentActivityName="com.example.nicco.inspectionReviewManager.InspectionReviewActivity"
            android:launchMode="singleTask" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nicco.inspectionReviewManager.InspectionReviewActivity" />
        </activity>
        <activity
            android:name="com.example.nicco.inspectionReviewManager.DateActivity"
            android:parentActivityName="com.example.nicco.inspectionReviewManager.InspectionReviewActivity"
            android:launchMode="singleTask" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nicco.inspectionReviewManager.InspectionReviewActivity" />
        </activity>
        <activity
            android:name="com.example.nicco.inspectionReviewManager.ConcreteActivity"
            android:parentActivityName="com.example.nicco.inspectionReviewManager.InspectionReviewActivity"
            android:launchMode="singleTask" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nicco.inspectionReviewManager.InspectionReviewActivity" />
        </activity>
        <activity
            android:name="com.example.nicco.inspectionReviewManager.FramingActivity"
            android:parentActivityName="com.example.nicco.inspectionReviewManager.InspectionReviewActivity"
            android:launchMode="singleTask" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nicco.inspectionReviewManager.InspectionReviewActivity" />
        </activity>
        <activity
            android:name="com.example.nicco.inspectionReviewManager.ConclusionActivity"
            android:parentActivityName="com.example.nicco.inspectionReviewManager.InspectionReviewActivity"
            android:launchMode="singleTask" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nicco.inspectionReviewManager.InspectionReviewActivity" />
        </activity>
    </application>

</manifest>